<h1>Editing {{username}}'s profile</h1>

<form method="POST" action="/profile/edit">
    <label>New avatar</label>
    <input type="image" name="profileImage" required="false" value="{{profileImage}}" />
    <label>City:</label>
    <input type="text" name="city" required="true" value="{{city}}" />
    <label>How many tattoos do you have?</label>
    <input type="text" name="tattooNumber" required="false" value="{{tatooNumber}}" />
    <label>About you</label>
    <input type="text" name="profileDescription" required="false" value="{{profileDescription}}" />
    <label>What style do you work?</label>
    <input type="enum" name="tattooStyle" required="true" value="{{tatooStyle}}" />
    <label>Where do you work?</label>
    <input type="text" name="studio" required="true" value="{{studio}}" />
    <label>Next journey?</label>
    <input type="text" name="nextJourneys" required="true" value="{{nextJourneys}}" />    

    <button type="submit">Save changes</button>
</form>