<div class="profile-main-container">
  <section class="profile-image-container">
    <img src={{user.profileImage}} alt="{{user.username}}"/>
    <p>{{toUpperCase user.username}}</p>
  </section>
  <section>
    <p>City: {{user.city}}</p>
    {{#if user.tattooNumber}}
      <p>I have {{user.tattooNumber}} tattoos</p>
    {{/if}}
    {{#if user.profileDescription}}
      <p>About me: {{user.profileDescription}}</p>
    {{/if}}
    {{#if tattooerUser}}
        <p>I work these styles:</p>
          <ul>
      {{#each user.tattooStyle}}
            <li>- {{this}} </li>
      {{/each}}
          </ul>
      {{#if studio}}
        <p>I work in: {{studio}}</p>
      {{/if}}
      {{#if nextJourneys}}
        <p>Soon I will be in: {{nextJourneys}}</p>
      {{/if}}
    {{/if}}
  </section>

  <a href="/users/profile/edit">Complete profile</a>
</div>