  <nav class="profile-navbar">
    <div class="upload-photo-nav">
      <a href="/tattoo/upload"><img class="upload-photo-icon-nav" src="/images/uploadPhoto-C.png" alt="upload-photo"></a>
    </div>
    <div class="ham">
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
    </div>
    <ul class="nav-sub">
      <li class="list-item"><a href="/users/profile/edit" class="nav-link">Edit profile</a></li>
      <li class="list-item"><a href="/users/unsubscribe" class="nav-link">Unsubscribe</a></li>
      <li class="list-item"><a href="/auth/logout" class="nav-link">Log out</a></li>
    </ul>
  </nav>
  <section class="main-section">
    <div class="profile-main-container">
      <section class="profile-image-container">
        {{#if user.profileImage}}
        <div class="user-info-div">
          <img class="profile-image" src={{user.profileImage}} alt="{{user.username}}"/>
        </div>
        {{/if}}
        <h4>{{toUpperCase user.username}}</h4>
      </section>
      <section class="profile-info-container">
        {{#if user.city}}
        <div class="user-info-div">
          <p>{{user.city}}</p>
        </div>
        <div class="separator">
          <h3>|</h3>
        </div>
        {{/if}}
        {{#if user.tattooNumber}}
        <div class="user-info-div">
          <p>I have {{user.tattooNumber}} tattoos</p>
        </div>
        <div class="separator">
          <h3>|</h3>
        </div>
        {{/if}}
        {{#if user.profileDescription}}
        <div class="user-info-div">
          <p>{{user.profileDescription}}</p>
        </div>
        <div class="separator">
          <h3>|</h3>
        </div>
        {{/if}}
        {{#if tattooerUser}}
          {{#if user.studio}}
          <div class="user-info-div">
            <p>Work in {{user.studio}}</p>
          </div>
          <div class="separator">
            <h3>|</h3>
          </div>
          {{/if}}
          {{#if user.nextJourneys}}
          <div class="user-info-div">
            <p>Soon in {{user.nextJourneys}}</p>
          </div>
          <div class="separator">
            <h3>|</h3>
          </div>
          {{/if}}
          {{#if user.tattooStyle}}
            <p>&nbsp;Tattoo styles&nbsp; </p>
              <ul class="ul-tattoo-styles">
          {{#each user.tattooStyle}}
                <li> {{this}} </li>
          {{/each}}
              </ul>
          {{/if}}
        {{/if}}
      </section>
      {{#if tattooerUser}}
      <div class="reviews-stars-container">
        <a href="/reviews/{{user._id}}"><img class="starts-reviews" src="/images/stars-review.png" alt="review-stars"></a>
      </div>
      {{/if}}
      {{#each dataUser}}
      <img class="profile-photos" src={{tattooImage}} alt="tattoo">
      <p>{{year}}</p>
      <p>{{tattooer}}</p>
      <p>{{place}}</p>
        {{#each tattooPhotoStyle}}
        <p> - {{this}}</p>
        {{/each}}
      <a href="/tattoo/edit/{{_id}}">Edit</a>
      {{/each}}
  </div>
</section>