{{#if user}}
    <nav class="navbar-layout-back-arrow">
        <button class="back-button"><a href="/tattooer/{{tattooer._id}}"><img class="back-button-image" src="/images/left-arrow.png" alt="back-arrow"></a></button>
        <section class="logo-nav-section">
            <ul>
                <li><a href="/"><img class="max-icon" src="/images/inked-in-logo-B.png" alt="logo-icon"></a>
                </li>
            </ul>
        </section>
    </nav>
{{/if}}
{{#if userContact}}
    <section class="main-welcome-title">
    <h2> contact {{tattooer.username}}</h2>
    </section>
    <section class="formrev">
        <form method="POST" action="/contact/{{tattooer._id}}">
            <input type="text" placeholder="How can I help you" name="comment"/>
            <input type="text" placeholder="Leave your phone number o email" name="contactform"/>
            <button type="submit">send</button>
        </form>
    </section>
    </form>       
{{/if}}

{{#if userCanSee}}
    <section class="main-welcome-title">
        <h2>{{tattooer.username}} messages </h2>
    </section>
    {{#each userCanSee}}
    <section class="message">
        <div class="image-username-div">
            <img src={{this.userId.profileImage}} alt="profile-image">
            <h5>{{toUpperCase this.userId.username}}</h5> 
        </div>
        <div class="message-contact-via">
            <p class="comment">{{toUpperCase this.comment}}.</p> 
            <p class="rate">Contact form: {{this.contactform}}</p>
            <h6> {{prettifyDate createdAt}}</h6>
        </div>
    </section>
    {{/each}}
{{/if}}