<section class="tattoer-detail-container">
  <section class="profile-image-container">
    <img src={{allTattooerData.user.profileImage}} alt="{{allTattooerData.user.username}}" />
    <p>{{toUpperCase allTattooerData.user.username}}</p>
  </section>
  <section>
    <p>Lives in {{allTattooerData.user.city}}</p>
    {{#if allTattooerData.user.tattooNumber}}
    <p>I have {{allTattooerData.user.tattooNumber}} tattoos</p>
    {{/if}}
    {{#if allTattooerData.user.profileDescription}}
    <p>About me: {{user.profileDescription}}</p>
    {{/if}}
    {{#if allTattooerData.user.tattooStyle}}
    <p>I work these styles:</p>
    <ul>
      {{#each allTattooerData.user.tattooStyle}}
      <li>- {{this}} </li>
      {{/each}}
    </ul>
    {{/if}}
    {{#if allTattooerData.user.studio}}
    <p>I work in: {{allTattooerData.user.studio}}</p>
    {{/if}}
    {{#if allTattooerData.user.nextJourneys}}
    <p>Soon I will be in: {{allTattooerData.user.nextJourneys}}</p>
    {{/if}}
  </section>
  {{#each allTattoPhotos}}
  <img class="profile-photos" src={{tattooImage}} alt="tatoo">
  <p>{{year}}</p>
  <p>{{place}}</p>
  {{#each tattooPhotoStyle}}
  <p> {{this}}</p>
  {{/each}}
  {{/each}}
</section>