{{#if user}}
<nav class="navbar-layout2">
  <ul>
    <li><a href="/"><img class="max-icon" src="/images/inked-in-logo-B.png" alt="logo-icon"></a></li>
  </ul>
</nav>
{{/if}}
<section class="main-welcome-title">
  <h2> Welcome {{toUpperCase user.username}}</h2>
</section>
<section class="tattoer-photos-container">
  <div>
    {{#each justTattooersPhotosAndLike}}
      <div class="tattoo-photo-div">
        <img class="welcome-tattoo-photo" src={{tattooImage}} alt="">
        <div class="like-and-username">
          <a href="/tattooer/{{user._id}}"><p>{{toUpperCase user.username}}</p></a>
          {{#if isLikedPhoto}}
          <a href="/likes/delete/{{_id}}"><img class="like-icon" src="/images/Like.png" alt="filled heart"></a>
          {{else}}
          <a href="/likes/{{_id}}"><img class="like-icon" src="/images/noLike.png" alt="unfilled heart"></a>
          {{/if}}
          {{#if numberLikes }}
          <p>{{numberLikes}}</p>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</section>
