{{#if user}}
    <nav class="navbar-layout-back-arrow">
        <button class="back-button"><a href="/tattooer/{{tattooer._id}}"><img class="back-button-image" src="/images/left-arrow.png" alt="back-arrow"></a></button>
        <section class="logo-nav-section">
            <ul>
                <li><a href="/"><img class="max-icon" src="/images/inked-in-logo-B.png" alt="logo-icon"></a>
                </li>
            </ul>
        </section>
    </nav>
{{/if}}
{{#if userNoReview}}
<section class="main-welcome-title">
    <h2>{{tattooer.username}} review</h2>
</section>
    <section class="formrev">
        <form method="POST" action="/reviews/{{tattooer._id}}">
            <input type="number" class="input1" placeholder="Rate the artist (1-5)" name="stars" max="5"/>
            <input type="text" placeholder="Review" name="comment"/>
            <button type="submit">Add review</button>
        </form>
    </section>
{{else}}
<section class="main-welcome-title">
    <h2>{{tattooer.username}} reviews</h2>
</section>
<section class="placeholder-logo-container">
    <img src="/images/logo-placeholder.png" alt="logo-placeholder">
</section>
{{/if}}
{{#if userCanedit}}
    {{#each userCanedit}}
        {{>cardReviewsUserCanEdit}}
    {{/each}}
{{/if}}
{{#if userCanTedit}}
    {{#each userCanTedit}}
        {{>cardReviewsUserCanTEdit}}
    {{/each}}    
{{/if}}